.carousel {
  height: 500px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: transparent;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption h4 {
  font-size:300%;
}
.carousel-caption h1 {
  color:#fff;
  font-size:6rem;
  font-family:Georgia;
}
.carousel-caption h1 span {
  color:#fff;
  font-size:4rem;
  text-shadow:none;
}
.carousel-caption h1 {
  animation: baner 12s ease-in 0.2s infinite;
  -moz-animation: baner 12s ease-in 0.2s infinite;
  -webkit-animation: baner 12s ease-in 0.2s infinite;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  display: inline-block;
}
@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
@-webkit-keyframes baner {
0% {
-webkit-transform: perspective(300px) rotateY(0deg);
}
15%, 100% {
-webkit-transform: perspective(300px) rotateY(360deg);
}
}
@-moz-keyframes baner {
0% {
-moz-transform: perspective(300px) rotateY(0deg);
}
15%, 100% {
-moz-transform: perspective(300px) rotateY(360deg);
}
}
@keyframes baner {
0% {
transform: perspective(300px) rotateY(0deg);
}
15%, 100% {
transform: perspective(300px) rotateY(360deg);
}
}
.btn-opacity,.btn-opacity:hover {background:transparent;color:#fff;border:1px solid #fff;}
.carousel-slideFullIn .carousel-inner .item {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-slideFullIn .carousel-inner .active {
  transform:scale(1);
}
.carousel-slideFullIn .carousel-inner .active.left,
.carousel-slideFullIn .carousel-inner .active.right {
  left: 0;
  transform:scale(0);
  z-index: 1;
}
.carousel-slideFullIn .carousel-inner .next.left,
.carousel-slideFullIn .carousel-inner .prev.right {
  animation-name: slideFullIn;
  -webkit-animation-name: slideFullIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@-webkit-keyframes slideFullIn {
  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes slideFullIn {
  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}
.carousel-slideFullIn .carousel-control {
  z-index: 2;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  body {background:url(https://phonoteka.org/uploads/posts/2021-05/1620076332_27-phonoteka_org-p-fon-dlya-saita-gradient-27.jpg);}</style>
